
 /* hero style  */

.team-content {
    width: 35%;
}

.team-1-info {
    background: rgba(0, 0, 0, 0.377);
    text-transform: capitalize;
}
.team-2-info {
    text-transform: capitalize;
}
.team-content p{
    text-transform: capitalize;
}

.btn-gradient {
    background: linear-gradient(#FFB629, #FFDA56, #FFD7A6);
    color: #091242;
}

.btn-gradient-2 {
    background: linear-gradient(#091242, #1F2A69);
    color: #b4a1a1;
}

 /* services style  */

.services-content{
    display: flex;
    align-items: flex-start;
}
.services-content .service-message {
    display: inline-flexbox;
    width: 270px;
}
#services-info {
    position: relative;
    display: inline;
    text-align: center;
}

#services-info::after {
    content: '';
    width: 1px;
    height: 100px;
    display: block;
    background-color: #ffbe34;
    position: absolute;
    left: -6px;
    top: 0px;
}

.services .img {
    width: 1350px;
    height: 504px;
    left: 0;
    fill: linear-gradient(0deg, #091242 -11.11%, rgba(9, 18, 66, 0.00) 90.28%);
}

 /* why-us style  */

.why-us {
    margin-top: -12%;
    background: #fff;
}

.why-us-icon ul{
    padding-left: 0;
} 

.why-us-icon ul li{
    color: #1C1F35;
    font-family: Rubik;
    font-size: 22px;
    line-height: normal;
    list-style: none;
}

.why-us-img-2 {
    width: -400px;
    height: -300px;
    left: -60px;
    bottom: -90px;
    border: 20px solid #ffffff;
}


 /* transport style  */

.transport-img {
    background-blend-mode: multiply;
    background: linear-gradient(0deg, rgba(9,18,66,1) 15%, rgba(241,250,252,0) 55%);
 }
 .transport-info {
    position: absolute;
    bottom: 5px;
    z-index: 11;
 }

 .transport-info a{
    text-decoration: none;
    font-weight: 600;
 }

.transport-section {
    position: relative;
 }
.transport-bg {
    position: absolute;
    z-index: -1;
    margin-top: -250px;
    
 }



 /* testimonial style  */

 .testimony-content {
    background: lightgray;
    color: #000;
}

.testimony-content-2 {
    background: #091242;
    color: #fff;
}

.testimony-img .testimony-profile{
    border-radius: 50%;
}

/* 
.whyChoose-img {
} */

.WhyChoose-container {
    background: linear-gradient(90deg, rgba(9,18,66,1) 50%, rgba(241,250,252,1) 50%);
    position: relative;
}
.WhyChoose-container-img {
    right: 0;
    bottom: 60px;
}

.whyChoose-info {
    background: rgba(241, 250, 252, 0.452) 50%;
    color: #091242;
    z-index: 1;
}


/* contact style  */

.contact-section {
    background: #091242;
    color: #fff;
}

/* features style  */

.features-card .features-img {
    background: linear-gradient(0deg, rgba(9,18,66,1) 15%, rgba(255,255,255,0) 100%);
}