/* import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1111;
    background: #091247;
    transition: opacity 0.75s, visibility 0.75s;
}


.loader-hide{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #ffbe34;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}

/* navbar start */

.ph-clock, .ph-envelope-simple, .ph-phone{
    font-size: 24px;
    color: #ffbe34;
}

#clock{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #1c286b6c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



/* navbar end */

#banner{
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner h1{
    color: #f4f4f4;
}


/*
Team page
*/

#team{
color: #f4f4f4;
margin-top: 95px;
margin-left: 35px;
}

#team h2{
    font-size: 35px;
    font-weight: bolder;
}


.team-section{
    padding-top: 30px;
    background-color: #dddddd   ;
    margin-bottom: 20px;
}

.social-link-div{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.card:hover .social-link-div {
    opacity: 1;
}

.social-link{
    display: flex;
    list-style: none;
    position: absolute;
    justify-content: center;
    flex-direction: row-reverse;
    left: 55px;
    top: -35px;
    font-size: 26px;
}

.social-link li i{
    align-items: center; 
    padding: 10px;   
    color: #091247;
    background-color: #ffbe34;
}

.team-1-info{
    background-color: rgba(0, 0, 0, 0.418);
    text-transform: capitalize;
}

#team-1{
    position: relative;
    display: inline;
    text-align: center;

}

#team-1::after{
    content: '';
    width: 4px;
    height: 30px;
    display: block;
    background-color: #ffbe34;
    position: absolute;
    left: -6px;
    top: 0px;
}

.team-section-head{
text-align: center;
margin-top: 35px;
padding: 20px;
}

.team-section-head h4{
    font-size: 18px;
    }

.card-content{
    background-color: #091247;
    color: #f4f4f4;
}

.card-content h4{
    padding-top: 10px;
}

/* .team-img{
    margin-top: 80px;
    max-width: 100%;
    height: auto;
} */


.team-us-img-2 {
    width: -400px;
    height: -300px;
    left: 345px;
    top: 200px;
    border: 10px solid #ffffff;
}



/* why-us style  */

.chose-content{
    margin-left: 50px;
    margin-top: 30px;
    padding: 10px;
}


.chose-content, h5{
    font-size: 16px;
    padding-left: 10px;
}

.chose-content h3{
    font-size: 24px;
    margin-top: 15px;
    font-weight: bolder;
}

<<<<<<< HEAD
.chose-content p{
    font-size: 11px;
}

=======
/* Blog page css */
>>>>>>> team

.blog-iteams{
    position: relative;
    margin-bottom: 25px;
    /* display: flex; */
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.blog-content {
    border-left: 1px solid #f4f4f4;
    margin-left: 8%;

}

.blog-icon{
    position: absolute;
    top: 10px;
    left: 400px;

}

.blog-icon h4{
    font-weight: bolder;
    font-size: 42px;
    margin-top: -15px;
    text-align: center;
    align-content: center;
}


.ph-calendar-blank{
    font-size: 64px;
    color: #ffbe34;
    margin-bottom: 0;
}

#content-1{
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

#content-1:hover{
    color: #ffbe34;
}

#content-2{
    padding: 5px;
    margin: 10px;
    font-size: 24;
    color: #666c89;
    font-weight: 600px;   
}

#month{
    color: #666c89;
    margin-top: -10px;
    margin-left: -8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.blog-img{
    width: 344px;
    height: 250px;
    border-radius: 2px;
}

.blog-section-img:hover .hover-div {
    opacity: 0.7;
  }

.hover-div p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
    font-size: 16px;
    font-weight: bold;
  }

  .hover-div {
    position: absolute;
    top: 13%;
    left: 4.5%;
    width: 300px;
    height: 200px;
    background-color: #091247;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }


.spons-card{
    background-color: #091247;
    margin: 5px;
    padding: 15px;
    /* width: 224px;
    height: 174px; */
}

.row-spon{
    border: 2px solid #091247;
    padding: 0;
}


<<<<<<< HEAD
.spon-img{
    border: 2px solid #091247;
    padding: 40px;
    align-content: center;
}

.sponsores{
    margin-left: 35px;
}

.spon-1{

    background-image: url("/static/Img/spons1.jpg");
}

.social-div{
    position: relative;
    background-color: #ffbe34;
}
.social-link{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    list-style: none;
    position: absolute;
    left: 200px;
    top: -30px;
}
=======
/* .sponsores{
    margin-top: 25px;
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 75px;
} */













/* footer section by @deboundle1 */

.footer {
    background-color: #091247;
    color: #f4f4f4;
}
.footer-image {
    width: 100%;
    height: 412px;
}
.footer h2 {
    background-color: rgba(255, 255, 255, 0.233) 8%;
}
/* Media screens */


  @media (max-width: 996px) {
    .blog-iteams {
      flex-wrap: wrap;
    }

    /* .hover-div {
        position: absolute;
        top: 50px;
        left: 100px;
        width: 300px;
        height: 200px;
        background-color: #091247;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      } */

  }
  
  @media (max-width: 1200px) {


     /*
    .team-img {
      width: 100%;
      max-width: 560px;
    }

    */

    .team-us-img-2{
        display: none;
    }
  } 
  
>>>>>>> team
