{% extends "base.html" %}

{% load static%}

{% block title %} Blog {% endblock %}

{% block bannertitle %}
<div class="container" id="team">
    <h5 id="team-1" class="team-1-info p-1 px-2" >Blog</h5>
    <h2 id="team-2">Our Latest News</h2>
</div>
{% endblock %}

{% block content %}

<section class="blog-section">
    <div class="team-section-head">
        <h4 id="team-1" class="team-1-info p-1 px-2" >Our Blog</h4>
        <h2>Our Latest News</h2>
    </div>

    <div class="container">
        <div class="row">

        <!----Start of first content-->
        <div class="col blog-iteams">

            <div class="col-lg-6 p-3 ">
                <div class="blog-section-img">
                    <img class="blog-img" src="{% static 'img/blog-img-1.jpg' %}" alt="blog-img"/>
                </div>
                <div class="blog-icon">
                    <i class="ph ph-calendar-blank"></i>
                    <h4>08</h4>
                    <p id="month">march</p>
                </div>
            </div>


            <div class="col-lg-5  ">
                <div class=" blog-content p-3 m-3">
                    <h3 id="content-1"> Inland freight a worthy <br> solution for your business</h3>
                    <p id="content-2">we are dedicated in creating added value for our customers by implimenting modern technology in our work.</p>
            
                    <ul>
                        <li>Urgent transport</li>
                        <li>Reliable & experinced staffs</li>
                        <li>Urgent transport soluction</li>
                        <li>Reliable & experinced staffs</li>
                    </ul>
                </div>
            </div>
            
        </div>
         
        <!-----End of first content-->

        <!----Start of second content-->

        <div class="col blog-iteams">

            <div class="col-lg-6 p-3 ">
                <div class="blog-section-img">
                    <img class="blog-img" src="{% static 'img/blog-img-2.png' %}" alt="blog-img"/>
                </div>
                <div class="blog-icon">
                    <i class="ph ph-calendar-blank"></i>
                    <h4>12</h4>
                    <p id="month">march</p>
                </div>
            </div>


            <div class="col-lg-5  ">
                <div class=" blog-content p-3 m-3">
                    <h3 id="content-1"> How technology can help <br>redraw the supply chain map</h3>
                    <p id="content-2">we are dedicated in creating added value for our customers by implimenting modern technology in our work.</p>
            
                    <ul>
                        <li>Urgent transport</li>
                        <li>Reliable & experinced staffs</li>
                        <li>Urgent transport soluction</li>
                        <li>Reliable & experinced staffs</li>
                    </ul>
                </div>
            </div>
            
        </div>
         
        <!-----End of second content-->
            
        <!----Start of third content-->

        <div class="col blog-iteams">

            <div class="col-lg-6 p-3 ">
                <div class="blog-section-img">
                    <img class="blog-img" src="{% static 'img/blog-img-3.png' %}" alt="blog-img"/>
                </div>
                <div class="blog-icon">
                    <i class="ph ph-calendar-blank"></i>
                    <h4>25</h4>
                    <p id="month">march</p>
                </div>
            </div>


            <div class="col-lg-5  ">
                <div class=" blog-content p-3 m-3">
                    <h3 id="content-1"> Five things you should have <br> raedy for your broker</h3>
                    <p id="content-2">we are dedicated in creating added value for our customers by implimenting modern technology in our work.</p>
            
                    <ul>
                        <li>Urgent transport</li>
                        <li>Reliable & experinced staffs</li>
                        <li>Urgent transport soluction</li>
                        <li>Reliable & experinced staffs</li>
                    </ul>
                </div>
            </div>
            
        </div>
         
        <!-----End of third content-->

        <!----Start of forth content-->

        <div class="col blog-iteams">

            <div class="col-lg-6 p-3 ">
                <div class="blog-section-img">
                    <img class="blog-img" src="{% static 'img/blog-img-4.png' %}" alt="blog-img"/>
                </div>
                <div class="blog-icon">
                    <i class="ph ph-calendar-blank"></i>
                    <h4>28</h4>
                    <p id="month">march</p>
                </div>
            </div>


            <div class="col-lg-5  ">
                <div class=" blog-content p-3 m-3">
                    <h3 id="content-1"> Four simple tips for becor <br>healthier truck driver</h3>
                    <p id="content-2">we are dedicated in creating added value for our customers by implimenting modern technology in our work.</p>
            
                    <ul>
                        <li>Urgent transport</li>
                        <li>Reliable & experinced staffs</li>
                        <li>Urgent transport soluction</li>
                        <li>Reliable & experinced staffs</li>
                    </ul>
                </div>
            </div>
            
        </div>
         
        <!-----End of forth content-->

        <!----Start of fifth content-->

        <div class="col blog-iteams">

            <div class="col-lg-6 p-3 ">
                <div class="blog-section-img">
                    <img class="blog-img" src="{% static 'img/blog-img-5.png' %}" alt="blog-img"/>
                </div>
                <div class="blog-icon">
                    <i class="ph ph-calendar-blank"></i>
                    <h4>30</h4>
                    <p id="month">march</p>
                </div>
            </div>


            <div class="col-lg-5  ">
                <div class=" blog-content p-3 m-3">
                    <h3 id="content-1"> What is the role of a <br> logistics operations manager</h3>
                    <p id="content-2">we are dedicated in creating added value for our customers by implimenting modern technology in our work.</p>
            
                    <ul>
                        <li>Urgent transport</li>
                        <li>Reliable & experinced staffs</li>
                        <li>Urgent transport soluction</li>
                        <li>Reliable & experinced staffs</li>
                    </ul>
                </div>
            </div>
            
        </div>
         
        <!-----End of fifth content-->
        </div>
    </div>


</section>

<script>
    window.onload = (event) => {
        changeBackgroundImage('blog')
    };

    window.addEventListener('unload', () => {
        changeBackgroundImage();
    })
 </script>

{% endblock %}