{% extends "base.html" %} 
{% load static%} 
{% block title %} Team Page {%endblock %}
 {% block content %}

<section class="team-section">
    <h4>The Transporters</h4>
<h2>Meet Expert Team</h2>

<div class=" container">
    <div class="row">
        <div class="col">
            1
        </div>
        <div class="col">
            2
        </div>
        <div class="col">
            3
        </div>
    </div>

    <div class="row">
        <div class="col">
            4
        </div>
        <div class="col">
            5
        </div>
        <div class="col">
            6
        </div>
    </div>
</div>
</section>


<section class="why-chose-us">
    <div class="container">
    <div class="row">
        <div class="col">
            1
        </div>

        <div class="col">
            2
        </div>
    </div>
    </div>
</section>


<section class="sponsores">
    <div class="container">
        <div class="row">
<div class="col">
    1
</div>
<div class="col">
    2
</div>

<div class="col">
   3 
</div>

<div class="col">
    4
</div>

        </div>
    </div>
</section>










 <script>
    window.onload = (event) => {
        changeBackgroundImage('team')
    };

    window.addEventListener('unload', () => {
        changeBackgroundImage();
    })
 </script>

{% endblock %}
