{% extends "base.html" %} 
{% load static%} 
{% block title %} Team Page {%endblock %}

{% block bannertitle %}
<div class="container" id="team">
    <h5 id="team-1">Team</h5>
    <h2 id="team-2">Our Team</h2>
</div>

{% endblock %}
 {% block content %}

<section class="team-section">
    <div class="team-section-head">

        <h4 id="team-1">The Transporters</h4>
        <h2>Meet Expert Team</h2>
    </div>

    <div class=" container">
        <div class="row team-row-1">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="team-img" src="{% static 'img/team1.jpg' %}" alt="team-img"
                />
                    <div class="card-body card-content">
                        <h4>Jessca Arow</h4>
                      <p class="card-text">Warehouse Head</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="team-img" src="{% static 'img/team2.jpg' %}" alt="team-img"
                />
                    <div class="card-body card-content">
                        <h4>Kethleen Smith</h4>
                      <p class="card-text">Transport Manager</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="team-img" src="{% static 'img/team3.jpg' %}" alt="team-img"
                />
                    <div class="card-body card-content">
                        <h4>Rebecca Tylor</h4>
                      <p class="card-text">Cargo Head</p>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row team-row-2">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="team-img" src="{% static 'img/team4.png' %}" alt="team-img"
                />
                    <div class="card-body card-content">
                        <h4>Ria jackson</h4>
                      <p class="card-text">Operation Head</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="team-img" src="{% static 'img/team5.png' %}" alt="team-img"
                />
                    <div class="card-body card-content">
                        <h4>Kane William</h4>
                      <p class="card-text">Country Head</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="team-img" src="{% static 'img/team6.png' %}" alt="team-img"
                />
                    <div class="card-body card-content">
                        <h4>Liser Tylor</h4>
                      <p class="card-text">Finance Manager</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>


</section>


<section class="why-chose-us">
    <div class="container">
    <div class="row">
        <div class="col chose-img">
            <div class="chose-img-1">
                <img class="team-img" src="{% static 'img/yus1.png' %}" alt="team-img"
                />

                <div class="chose-img-2">
                
                    <img class="team-img" src="{% static 'img/yus2.png' %}" alt="team-img"
                    />
                    </div>
            </div>

        </div>

        <div class="col chose-content">
            <h5 id="team-1" >About</h5>
            <h3>Why Chose Us</h3>
            <p>Leverage agile frameworks to provide a robust synopsis for strategy foster
            collaborative thinking to further the overall value proposition.</p>

            <hr>

            <div class="row">
                <div class="col">
                    <i class="ph ph-user-focus"></i>
                    <h4>Our Vission</h4>
                    <p>Leverage agile frameworks to <br>
                    provide a robust synopsis for <br>
                    strategy foster.
                </p>
                </div>

                <div class="col">
                    <i class="ph ph-hourglass-medium"></i>
                    <h4>Estimate Shipping</h4>
                    <p>Leverage agile frameworks to <br>
                    provide a robust synopsis for <br>
                    strategy foster.
                </p>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>


<section class="sponsores">
    <div class="container">
        <div class="row">
            <!-----
<div class="col">
    <img class="team-img" src="{% static 'img/spons1.jpg' %}" alt="team-img"
    />
</div>
----->
<div class="col spon-img">
    <img class="team-img" src="{% static 'img/spons2.png' %}" alt="team-img"
    />
</div>

<div class="col spon-img">
    <img class="team-img" src="{% static 'img/spons3.png' %}" alt="team-img"
    /> 
</div>

<div class="col spon-img">
    <img class="team-img" src="{% static 'img/spons4.png' %}" alt="team-img"
    />
</div>

        </div>
    </div>
</section>










 <script>
    window.onload = (event) => {
        changeBackgroundImage('team')
    };

    window.addEventListener('unload', () => {
        changeBackgroundImage();
    })
 </script>

{% endblock %}
