{% extends "dashbase.html" %}
{% load crispy_forms_tags %}
{% block title %} Package Information {% endblock %}

{% block dashbase %}
<div class="col-lg-8">
    <b class="text-secondary">Package Information</b><br>
        <div class="card bg-white mt-2 mb-5">
    <div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Package name</label>
          <input type="text" class="form-control" id="usernane" aria-describedby="emailHelp" name="package_name"  required>
        </div>


        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Package Weight</label>
          <input type="text" class="form-control" id="usernane" aria-describedby="emailHelp" name="package_weight"  required>
        </div>
    
    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Package Description</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="package_description"  required>
        </div>
    
    
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
</div>
    </div>
{% endblock %}